#bg-video {
    width: 100vw;
    filter: brightness(0.9);
    opacity: 0.9;
    /*object-fit: cover;*/
}

@media (max-width: 768px) {
    #bg-video {
        width: auto;
        height: 90vh;
        transform: translate(-30%, 0%);
        object-fit: cover;
    }
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 禁止水平滚动 */
}
